.foot {
  border-top: 1px solid #d4d4d4;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  left: 0px;
  right: 0px;
  font-size: 0px;
}
.foot li {
  font-size: 20px;
  width: 33%;
  color: #9f9d9e;
}
.foot li.select {
  background-color: #dbf9f4;
  color: #01c2a3;
}
.foot .icon-document {
  background-image: url(../image/document.png);
  width: 25px;
  height: 21px;
}
.foot .icon-search {
  background-image: url(../image/search.png);
  width: 24px;
  height: 24px;
}
.foot .icon-my {
  background-image: url(../image/my.png);
  width: 23px;
  height: 25px;
}
